.channellist {
    height: 100%;
    overflow-y: clip;
    display: flex;
    flex-direction: column;
}

.channellist ul {
    list-style: none;

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
