.channellist {
    height: 100%;
    overflow-y: clip;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.channellist ul {
    list-style: none;
}

.channellist > ul {
    padding: 0;
}
