.channel {
    display: flex;
    flex-direction: column;
}

.channel ul {
    overflow-y: auto;
    overflow-x: hidden;
}

.channel form {
    display: flex;
    margin-top: auto;
}

.channel form input[type='text'] {
    width: 100%;
}
