.message {
    list-style: none;
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.message * {
    text-wrap-mode: wrap;
    word-break: break-word;
}

.message code {
    display: block;
}

.message > div > img {
    display: inline-block;

    --real-height: attr(data-height px);
    --real-width: attr(data-width px);
    --aspect-ratio: calc(var(--real-height) / var(--real-width));

    --target-width: min(var(--real-width), 15em);
    --target-height: calc(var(--target-width) * var(--aspect-ratio));

    height: var(--target-height);
    width: var(--target-width);
}

.content img {
    width: 1.2em;
    height: 1.2em;
}

.content > * {
    margin: 0;
}
