.message {
    list-style: none;
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.message code {
    display: block;
    text-wrap-mode: wrap;
    word-break: break-word;
}

.content img {
    width: 1.2em;
    height: 1.2em;
}

.message > div > img {
    max-width: 15em;
}
